In [1]:
import pandas as pd

In [2]:
data_s = pd.read_csv('files/summer.csv')

In [3]:
data_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
data = data_s.sample(n=7,random_state=123).sort_values(by='Year')

In [5]:
data

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
4196,1924,Paris,Aquatics,Water polo,"AUSTIN, Arthur",USA,Men,Water Polo,Bronze
11961,1968,Mexico,Athletics,Athletics,"FOSBURY, Richard Douglas",USA,Men,High Jump,Gold
11742,1968,Mexico,Aquatics,Swimming,"WENDEN, Michael Vincent",AUS,Men,200M Freestyle,Gold
13996,1976,Montreal,Aquatics,Swimming,"MAC DONALD, Gary",CAN,Men,4X100M Medley Relay,Silver
16229,1980,Moscow,Rowing,Rowing,"DMITRIENKO, Grigori",URS,Men,Eight With Coxswain (8+),Bronze
19728,1992,Barcelona,Aquatics,Swimming,"KULIKOV, Vladislav",EUN,Men,4X100M Medley Relay,Silver
25901,2004,Athens,Boxing,Boxing,"YELEUOV, Serik",KAZ,Men,57 - 60KG (Lightweight),Bronze

In [9]:
countryBcity = {'Paris':'France',
               'Mexico':'Mexico',
               'Montreal':'Canada',
               'Moscow':'Russia',
               'Barcelona':'Spain',
               'Athens':'Greece'}

In [10]:
countryBcity

{'Paris': 'France',
 'Mexico': 'Mexico',
 'Montreal': 'Canada',
 'Moscow': 'Russia',
 'Barcelona': 'Spain',
 'Athens': 'Greece'}

In [11]:
data['City'].map(countryBcity)

4196     France
11961    Mexico
11742    Mexico
13996    Canada
16229    Russia
19728     Spain
25901    Greece
Name: City, dtype: object

In [13]:
data['Host_country'] = data['City'].map(countryBcity)

In [14]:
data

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Host_country
4196,1924,Paris,Aquatics,Water polo,"AUSTIN, Arthur",USA,Men,Water Polo,Bronze,France
11961,1968,Mexico,Athletics,Athletics,"FOSBURY, Richard Douglas",USA,Men,High Jump,Gold,Mexico
11742,1968,Mexico,Aquatics,Swimming,"WENDEN, Michael Vincent",AUS,Men,200M Freestyle,Gold,Mexico
13996,1976,Montreal,Aquatics,Swimming,"MAC DONALD, Gary",CAN,Men,4X100M Medley Relay,Silver,Canada
16229,1980,Moscow,Rowing,Rowing,"DMITRIENKO, Grigori",URS,Men,Eight With Coxswain (8+),Bronze,Russia
19728,1992,Barcelona,Aquatics,Swimming,"KULIKOV, Vladislav",EUN,Men,4X100M Medley Relay,Silver,Spain
25901,2004,Athens,Boxing,Boxing,"YELEUOV, Serik",KAZ,Men,57 - 60KG (Lightweight),Bronze,Greece

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 4196 to 25901
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          7 non-null      int64
 1   City          7 non-null      object
 2   Sport         7 non-null      object
 3   Discipline    7 non-null      object
 4   Athlete       7 non-null      object
 5   Country       7 non-null      object
 6   Gender        7 non-null      object
 7   Event         7 non-null      object
 8   Medal         7 non-null      object
 9   Host_country  7 non-null      object
dtypes: int64(1), object(9)
memory usage: 616.0+ bytes

In [16]:
data['Host_country']

4196     France
11961    Mexico
11742    Mexico
13996    Canada
16229    Russia
19728     Spain
25901    Greece
Name: Host_country, dtype: object

In [17]:
  data['Medal']

4196     Bronze
11961      Gold
11742      Gold
13996    Silver
16229    Bronze
19728    Silver
25901    Bronze
Name: Medal, dtype: object

In [18]:
medal_map = { 'Bronze':'1 Star',
            'Silver':'2 Star',
            'Gold':'3 Star'}

In [19]:
medal_map

{'Bronze': '1 Star', 'Silver': '2 Star', 'Gold': '3 Star'}

In [20]:
data['Medal'].map(medal_map)

4196     1 Star
11961    3 Star
11742    3 Star
13996    2 Star
16229    1 Star
19728    2 Star
25901    1 Star
Name: Medal, dtype: object

In [21]:
data['Medal'] = data['Medal'].map(medal_map)

In [22]:
data

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Host_country
4196,1924,Paris,Aquatics,Water polo,"AUSTIN, Arthur",USA,Men,Water Polo,1 Star,France
11961,1968,Mexico,Athletics,Athletics,"FOSBURY, Richard Douglas",USA,Men,High Jump,3 Star,Mexico
11742,1968,Mexico,Aquatics,Swimming,"WENDEN, Michael Vincent",AUS,Men,200M Freestyle,3 Star,Mexico
13996,1976,Montreal,Aquatics,Swimming,"MAC DONALD, Gary",CAN,Men,4X100M Medley Relay,2 Star,Canada
16229,1980,Moscow,Rowing,Rowing,"DMITRIENKO, Grigori",URS,Men,Eight With Coxswain (8+),1 Star,Russia
19728,1992,Barcelona,Aquatics,Swimming,"KULIKOV, Vladislav",EUN,Men,4X100M Medley Relay,2 Star,Spain
25901,2004,Athens,Boxing,Boxing,"YELEUOV, Serik",KAZ,Men,57 - 60KG (Lightweight),1 Star,Greece